.home-container {
    background: linear-gradient(to bottom right, #ec125a, #ff00e4, #33529e);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .home-placement {
    background-color: #fff;
    margin-top: 75px;
    width: 75vw;
    height: 75vh;
    border-radius: 10px;
  }
  